.Category rect.wrap {
  stroke: black;
  stroke-width: 1px;
  fill: white;
  fill: white;
  transform: translate(calc(var(--unit-margin) / 2), calc(var(--unit-margin) / 2));
}

.Category rect.dept {
  width: calc(var(--dept-width) - var(--unit-margin));
  height: calc(var(--dept-height) - var(--unit-margin));
}

.Category rect.subdept {
  width: calc(var(--subdept-width) - var(--unit-margin));
  height: calc(var(--subdept-height) - var(--unit-margin));
}

.Category rect.brand {
  width: calc(var(--brand-width) - var(--unit-margin));
  height: calc(var(--brand-height) - var(--unit-margin));
}

.Category rect.sponsored {
  stroke: orange;
}

.Category rect.open {
  fill: red;
}